<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>
<form name = "firstname" form action="/login" method="post">
  Username: <input type="text" name="username">
  Password: <input type="password" name="password">
    <input type="submit" value="Submit">
  </form>

</div>
